/** 全局变量 */
:root{--list-even-color:#fff;--list-odd-color:#fff;--readmore-bg-color:#fff;--main-text-color: #707070; --button-bg-color: #efefef}
/** 图标信息 */
@font-face {font-family: 'syicon';src: url('//at.alicdn.com/t/c/font_3781441_xhtql9cb4.woff2?t=1669300262840') format('woff2'),url('//at.alicdn.com/t/c/font_3781441_xhtql9cb4.woff?t=1669300262840') format('woff'),url('//at.alicdn.com/t/c/font_3781441_xhtql9cb4.ttf?t=1669300262840') format('truetype');}
.syicon{font-style:normal;font-size:16px;font-family:syicon!important;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.sy-zan:before{content:"\e62e"}
.sy-linux:before{content:"\e61c"}
.sy-apple:before{content:"\e61d"}
.sy-android:before{content:"\e61e"}
.sy-win:before{content:"\e621"}
.sy-day4:before{content:"\e623"}
.sy-close1:before{content:"\e624"}
.sy-day5:before{content:"\e627"}
.sy-other:before{content:"\e628"}
.sy-day2:before{content:"\e629"}
.sy-edit1:before{content:"\e62a"}
.sy-day3:before{content:"\e62b"}
.sy-day1:before{content:"\e62c"}
.sy-login1:before{content:"\e62d"}
.sy-sun:before{content:"\e620"}
.sy-close:before{content:"\e626"}
.sy-cloud:before{content:"\e625"}
.sy-edit:before{content:"\e619"}
.sy-login:before{content:"\e622"}